
.game-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;  /* Change to flex-start to prevent stretching */
  height: 100vh;
}

.hangman-container {
  flex: 1;
  max-width: 50%;
  height: 100%; /* 높이를 100%로 설정 */
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  align-items: center; /* 가운데 정렬 */
  overflow: visible;
}

.info-container {
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 가운데 정렬 */
  align-items: center; /* 가운데 정렬 */
}

.alphabet-buttons button.incorrect {
  color: red;
}
/* App.css */

.keyboard-button {
  width: 40px;  /* 버튼 너비 설정 */
  height: 40px;  /* 버튼 높이 설정 */
  margin: 0 10px;  /* 양쪽 마진 설정 */
  padding: 10px 20px;  /* 패딩 설정 */
  font-size: 24px;  /* 글씨 크기 설정 */
  border-radius: 5px;  /* 버튼 모서리 둥글게 */
}

.keyboard-button.correct {
  background-color: green;
  color: white;
}

.keyboard-button.incorrect {
  background-color: red;
  color: white;
}

.keyboard-row {
  display: flex;
  justify-content: center;  /* 중앙 정렬 */
  margin-bottom: 1rem;  /* 아래쪽 마진 추가 */
}
.hidden-word {
  font-size: 48px;  /* 글씨 크기 증가 */
  margin-bottom: 30px;
  text-align: center;  /* 가운데 정렬 */
}

.error-count, .problem-number, .correct-count {
  font-size: 36px;  /* 글씨 크기 증가 */
  margin-bottom: 20px;
  text-align: center;  /* 가운데 정렬 */
}

.restart-button {
  font-size: 24px;  /* 글씨 크기 증가 */
  padding: 15px 30px;
  margin-top: 20px;
  display: block;  /* 블록 요소로 변경 */
  margin-left: auto;  /* 가운데 정렬 */
  margin-right: auto;  /* 가운데 정렬 */
}
.next-button {
  font-size: 24px;  /* 글씨 크기 증가 */
  padding: 15px 30px;
  margin-top: 20px;
  display: block;  /* 블록 요소로 변경 */
  margin-left: auto;  /* 가운데 정렬 */
  margin-right: auto;  /* 가운데 정렬 */
}

.alphabet-buttons {
  margin-top: 30px;  /* 알파벳 배열과의 거리 증가 */
}
/* 반응형 설정 */
@media screen and (max-width: 768px) {  /* 768px 이하의 화면 크기에 적용 */
  .game-container {
    flex-direction: column;  /* 가로 정렬을 세로 정렬로 변경 */
    align-items: center;  /* 가운데 정렬 */
    text-align: center;  /* 가운데 정렬 */
  }

  .hangman-container, .info-container {
    max-width: 100%;  /* 컨테이너 최대 너비를 100%로 설정 */
    text-align: center;  /* 가운데 정렬 */
  }

  .keyboard-button {
    width: 30px;  /* 버튼 너비 줄이기 */
    height: 30px;  /* 버튼 높이 줄이기 */
    font-size: 18px;  /* 폰트 크기 줄이기 */
    text-align: center;  /* 가운데 정렬 */
  }

  .hidden-word {
    font-size: 24px;  /* 폰트 크기 줄이기 */
    text-align: center;  /* 가운데 정렬 */
  }

  .error-count {
    font-size: 18px;  /* 폰트 크기 줄이기 */
    text-align: center;  /* 가운데 정렬 */
  }
}