.game-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.hangman-container {
  flex: 1;
  max-width: 50%;
  height: 100vh;  /* 높이를 설정 */
}

.info-container {
  flex: 1;
  max-width: 50%;
}

.alphabet-buttons button.incorrect {
  color: red;
}
.game-container {
  display: flex;
  justify-content: space-between;
}


